mixin sub-menuproduct(items)
  ul
    each item in items
      li
        a(href=`/products/${item.slug}`) #{item.title}
        if(item.children)
          +sub-menuproduct(item.children)

mixin sub-menupost(items)
  ul
    each item in items
      li
        a(href=`/posts/${item.slug}`) #{item.title}
        if(item.children)
          +sub-menupost(item.children)